@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
 * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sono', sans-serif;
 }

.title {
  padding-left: 55px;
  position: absolute;
  top: 34%;
  left: 62%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
}

.titleCircle {
  position: relative;
  width: 100px;
  height: 100px;
}

.input {
  height: 200px;
  border-radius: 10px;
  text-align: left;
  vertical-align: top;
  display: inline;
  font-size: 18px;
  width: 100%;
 }

.mainBox {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  margin: 15px;
}

ul li:nth-child(odd) input {
  background-color: rgb(199, 226, 255);
}

ul li:nth-child(even) input {
  background-color: rgb(253, 210, 218);
}

.add {
  display: flex;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(34, 32, 32);
  color: beige;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.add:hover {
  background-color: rgb(64, 64, 64);
}

.add:focus {
  outline: none;
}

.add:active {
  box-shadow: inset 5px 5px 10px -3px rgba(15, 11, 11, 0.7);
}

ul {
  list-style: none;
}

.container {
  position: relative;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  font-size: 2em;
  font-weight: bold;
  background-color: transparent;
  border: 0px;
  padding-right: 5px;
}

.notebook {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

.input::placeholder {
  font-size: 16px;
}

.circle {
  width: 75px;
  height: 75px;
  background-color: #f9baa4;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 5px;
}

 

@media (max-width: 767px) {
  .mainBox {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media(min-width: 768px) and (max-width: 1023px) {

  .mainBox {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}